<script>
  export let node
  import { Button, Callout, Collapsible } from 'svelte-integration-red/components'
  import { clearError, createParameters, setError } from '../utils/htmlFunctions'
  import { tick } from 'svelte'  
  import ParameterRow from './ParameterRow.svelte'
  import specStore from '../utils/specStore'

  let showCalloutBox = false
  // returns schema or parameter meta
  const getParameterData = (parameterAndIn) => {
    clearError(node, 'getParameterData')
    const paramOrSchemaData = (parameterAndIn === 'requestBody') 
      ? apiOperationData.requestBody?.content?.[node.requestContentType]?.schema // has parameter data in schema
      : apiOperationData.parameters.find(param => (param.name + ' ' + param.in) === parameterAndIn) // other parameters can have an schema object
    if (paramOrSchemaData) {
      return paramOrSchemaData
    } else {
      setError('Error finding schema for parameter ' + parameterAndIn + '.', 'getParameterData')
    }
  }

  let apiOperationData = {}
  let parameterKeys = []
  let currentOperation = ''
  let ready = false

  const prepareParameters = async () => {
    ready = false
    await tick()
    if (!$specStore[node.configUrlNode].paths?.[node.operationData.path]?.['x-openApi-red-resolved'] && node.operationData.path) {
      // try to resolve it
      await specStore.resolvePath(node.configUrlNode, node.operationData.path)
    }

    const paths = $specStore[node.configUrlNode]?.paths?.[node.operationData.path] || {}
 
    // updated nodes fixes 
    // version > 2.0.0 method was optional, if no operationId
    if (!node.operationData.method) {
      const methods = Object.keys(paths || {})
      node.operationData.method = methods.find(method => paths[method]?.operationId === node.operationData.id)
    }
    // import old nodes after update
    if (!node.apiTag && node.operationData.path && node.operationData.method) {
      node.apiTag = paths[node.operationData.method]?.tags?.[0] || '' // do not set to default if not found
    }
    apiOperationData = paths[node.operationData.method] || {}
    await createParameters(node, apiOperationData)
    parameterKeys = Object.keys(node.parameters || {})
    ready = true
  }

  // if specStore was loaded without paths, something is fishy...
  $: if ($specStore[node.configUrlNode]?.paths && currentOperation !== node.configUrlNode + node.operationData.path + '/' + node.operationData.id) {
    parameterKeys = []
    currentOperation = node.configUrlNode + node.operationData.path + '/' + node.operationData.id
    prepareParameters()
  }
</script>

<style>
  :global(#openApi-red-svelte-container .parametersList .sir-Group-container) {
    padding: 3px 6px 0px 18px;
  }
  :global(#openApi-red-svelte-container .parametersList .red-ui-editableList-header) {
    margin-bottom: 12px;
    margin-left: -12px;
  }
  :global(#openApi-red-svelte-container .parametersDescriptionButton) { 
    margin-right: 0px !important; /* prevent jumping as last element */
  }
</style>

<!-- if apiOperationData was changed and reverted we want to show the old values for the parameters -->
{#if node.operationData.id }
  {#if !ready}
    <div style="font-size: larger;">
      Loading... <i class="fa fa-spinner fa-pulse" style="margin-left: 6px;"></i>
    </div>
  {:else if $specStore[node.configUrlNode].paths?.[node.operationData.path]?.['x-openApi-red-resolved'] && parameterKeys.length > 0}
    <Collapsible label="Parameters" clazz="parametersList" border>
      <span slot="header" class="header" >
        <Button inline small clazz="parametersDescriptionButton" icon={showCalloutBox ? "eye-slash" : "eye"} label={showCalloutBox ? "hide description" : "show description"} tooltip="Shows all descriptions direct, instead of a tooltip." on:click={() => showCalloutBox = !showCalloutBox}/>
      </span>
      <!-- Simulate editableList header -->
      <div class="red-ui-editableList-header">
        <div style="display:inline-flex;">
          <span style="width: 270px; padding-left: 6px;">Name <b>(*=required)</b></span>
          <span>Value</span>
        </div>
      </div>
      {#each parameterKeys as parameter (parameter)}
        <ParameterRow bind:node {apiOperationData} bind:parameter={node.parameters[parameter]} paramMetaData={getParameterData(parameter)} {showCalloutBox} firstLevel/>
      {/each}
    </Collapsible>
  {:else}
    <Callout type="info">
      No parameters found!
    </Callout>
  {/if}
{/if}
