<script context='module'>
  RED.nodes.registerType('openApi-red-url', {
		category: 'config',
    defaults: {
      name:       { value: '', label: 'Name' },
      url:        { value: '', label: 'Source', required: true }, // TODO: rename to source
      urlType:    { value: 'str' },
      server:     { value: '', label: 'Server', validate: function (value, node) {
        if (node.urlType === 'Files' && !(value.startsWith('http') || value.startsWith('ws'))) {
          return false
        }
        return true
      }},
      serverType: { value: 'custom' },
      devMode:    { value: false, label: 'Development Mode'},
      _version:   { value: '' }
    },
    label: function() {
        if (this.name) return this.name
        return this.url || this.id
    },
		oneditprepare: function () {
			render(this)
		},
		oneditsave: function () {
      update(this)
		},
		oneditcancel: function () {
			revert(this)
		},
    oneditdelete: function () {
      fetch('openApi-red/deleteOpenApiSpec/' + this.id)
    }
	})

  
</script>

<script>
  export let node
  import { Button, Callout, Input, Row, TypedInput } from 'svelte-integration-red/components'
  import Popup, { closePopup } from 'svelte-integration-red/components/Popup.svelte'
  import { tick } from 'svelte'
  import specStore from './utils/specStore'
  
  const createServerTypes = () => {
    serverTypes = [
      { 
        value: 'server',
        options: [...new Set(($specStore[node.id].servers || []).map(s =>  s.url))]
      },
      { value: 'custom' },
      'msg', 'flow', 'global'
    ]
  }

  const getApiSpec = ((init = false, reload = false) => {
    reload = reload || (oldUrl !== node.url) // reload if source changed or forced by button
    if (init || reload) {
      oldUrl = node.url
      checkingUrl = true
      specificationExists = false
      errorText = ''
      // set undeployed changes
      const options = {
        url: node.url,
        urlType: node.urlType,
        devMode: node.devMode,
        server: node.server || '',
        serverType: node.serverType || 'custom'
      }
      specStore.loadOpenApiSpec(node.id, reload, options).then(() => {
        checkingUrl = false
        specificationExists = !!$specStore[node.id]
        createServerTypes()
        if (!node.server && $specStore[node.id]?.servers?.length) {
          node.serverType = 'server'
        }
      }).catch(e => {
        checkingUrl = false
        errorText = RED.utils.renderMarkdown(`Error: Check console for detailed information. \n\n${e.message || e.text || JSON.stringify(e)}`)
      })
    }
  })

  const handleDeleteFile = async () => {
    const filename = node.url
    closePopup('deleteSpecFile')
    const res = await fetch('openApi-red/deleteFile?name=' +  filename)
    if (res.ok) {
      RED.notify('File deleted', { type: 'info', timeout: 10000 })
      // refresh local file list
      getLocalFiles()
    }
  }

  const uploadFile = () => {
    const filename =  newFile?.[0]?.name || ''
    if (!filename) {
      return
    }
    if (filename.endsWith('.json') || filename.endsWith('.yaml') || filename.endsWith('.yml')) {
      newFile[0].text().then(fileValue => {
        const body = JSON.stringify({
          name: newFile[0].name,
          value: fileValue
        })
        fetch('openApi-red/uploadFile', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body
        })
        .then(res => {
          if (res.ok) {
            getLocalFiles().then(() => {
              node.url = filename
              node.urlType = 'Files'
              RED.notify('File uploaded.', { type: 'info', timeout: 10000 })
              newFile = ''
            })
          } else {
            if (res.status === 413) {
              console.log('[openApi-red-url Error file size too large. Either upload file directly into the [node-red directory]/openApi or set a higher apiMaxLength limit in the settings.js')
            } else {
              console.log('[openApi-red-url] Error uploading file.', e)
            }
            RED.notify('Error uploading file. Check console.', { type: 'error', timeout: 20000 })
            newFile = ''
          }
        })
      })
    } else {
      RED.notify('Not a valid JSON or YAML file.', { type: 'error', timeout: 10000 })
    }
  }

  const getLocalFiles = async () => {
    const res = await fetch('openApi-red/getFiles')
    if (res.ok) {
      const files = await res.json()
      if (files.length) {
        sourceTypes = ['str', 'env', { value: 'Files', options: files }]
      } else {
        sourceTypes = ['str', 'env']
      }
    }
  }

  const urlTooltip = `Loading the OpenApi specification from the entered source on leaving the field.
  If not starting with "http" or "ws" it searches for a local file. 
  Starting with "\\~/" it searches within the Node-RED directory. Uploads will be made into the "openApi" folder ("\\~/openApi/myFile.json").
  
  Attention: Local yaml files will create a parsed json file. This file will only be updated on pressing reloading.
  `

  let checkingUrl = false
  let oldUrl = node.url
  let specificationExists = !!$specStore[node.id]
  let errorText = ''
  let serverTypes = []
  let newFile = ''
  let sourceTypes
  let showDeletePopup

  // load filelist
  getLocalFiles()

  // if specification is not in the store yet
  if (!specificationExists) {
    getApiSpec(true)
  } else {
    createServerTypes()
  }

  const setServer = async () => {
    await tick()
    if (node.serverType === 'custom') {
      fetch('openApi-red/setServer/' + node.id + '?serverUrl=' + node.server)
    }
  }
</script>

<style>
  :global(#openApi-red-url-svelte-container .sir-Label) {
    min-width: 150px;
  }
  :global(#openApi-red-url-svelte-container .noMarginBottom) {
    margin-bottom: 0px;
  }
</style>

<Input bind:node prop="name" />

{#if newFile}
  <Callout type="info"> <i class="fa fa-spinner fa-pulse" style="margin-right: 6px;"></i>Uploading file... </Callout>
{:else}
  <Row>
    {#if sourceTypes}
      <TypedInput bind:node prop="url", typeProp="urlType" inline tooltip={urlTooltip} types={sourceTypes} on:blur={() => getApiSpec(false)} on:change={() => {
        if (node.urlType === 'Files') {
          getApiSpec(false)
        }
      }} />
      <Button inline style="margin-right: 0px;" icon="refresh" on:click={() => getApiSpec(false, true)} tooltip="Reload specification" />
    {:else}
      <Callout type="info" small> <i class="fa fa-spinner fa-pulse" style="margin-right: 6px;"></i>Loading files... </Callout>
    {/if}
  </Row>

  <Row style="justify-content: space-between;">
    <Button indented icon="file-o" label="Add a new file" clazz="noMarginBottom" on:click={() => document.getElementById('openApi_uploadFile').click()} />
    <Button inline icon="trash" tooltip="Delete file" on:click={() => showDeletePopup = true}/>
  </Row>

  {#if oldUrl !== node.url} 
    <Callout type="info" small> New specification will be loaded on leaving input field. </Callout>
  {:else if node.url && specificationExists}
    <Callout type="info" small> OpenApi specification loaded. </Callout>
  {:else if node.url && checkingUrl}
    <Callout type="info" small> <i class="fa fa-spinner fa-pulse" style="margin-right: 6px;"></i>Loading specification... </Callout>
  {:else if node.url && !specificationExists}
    <Callout type="error"> {@html errorText} </Callout>
  {/if}

  {#if specificationExists}
    {#if $specStore[node.id]?.servers}
      <TypedInput bind:node prop="server" typeProp="serverType" types={serverTypes} placeholder={$specStore[node.id]?.openApiRed?.defaultServer || ''} 
        error={(node.urlType === 'Files' && !(node.server?.startsWith('http') || node.server?.startsWith('ws')))}
        tooltip={$specStore[node.id]?.servers?.find(server => server.url === node.server)?.description || "Select the server from your server list in the specification or use a custom one."} 
        on:change={setServer}  
      />
    {:else}
      <!-- openApi v2 (swagger) -->
      <Input bind:node prop="server" tooltip="Reroute to another server which is not defined in your specification" placeholder={$specStore[node.id]?.openApiRed?.defaultServer || ''} on:blur={setServer} />
    {/if}
    {#if (node.urlType === 'Files' && !(node.server?.startsWith('http') || node.server?.startsWith('ws')))}
      <Callout small type="error">A relative url can't be used on a file. If no valid server is in the list use custom.</Callout>
    {/if}
  {/if}

  <Input bind:node prop="devMode" type="checkbox" labelBeforeCheckbox={true} tooltip="Accept self signed or expired certificates, which will be rejected otherwise."/>
{/if}

<Popup id={"deleteSpecFile"} modal fixed bind:showPopup={showDeletePopup} keyboard={{escape: () => closePopup("deleteSpecFile")}}>
  <h2>Confirm deleting File</h2>
  Are you sure you want to delete "{node.url}"?
  <svelte:fragment slot="buttons">
    <Button inline label="Cancel" on:click={() => closePopup("deleteSpecFile")} />
    <Button inline label={"Delete"} primary on:click={handleDeleteFile} />
  </svelte:fragment>
</Popup>

<input type="file" id="openApi_uploadFile" name="filename" accept=".json,.yaml,.yml" style="width: 0px; visibility:hidden;" bind:files={newFile} on:change={uploadFile}>